server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

db:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql://marquez-db:5432/marquez
  user: marquez
  password: marquez

logging:
  level: INFO
